{% extends "layout.html" %}

{% block content %}

<div class="text-center">
    <h1>Flask Dashboard</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h3>가입자 분포현황</h3>
            <img id="img_orgmember" style="width: 500px; height: 500px;display:none" class="img-fluid" alt="Organization Members Chart" />
        </div>
        <div class="col-md-6 text-center">
            <h3>상가별분포</h3>
            <img id="img_buildmember" style="width: 100%; height: 500px; display: none" class="img-fluid" alt="Building Members Chart" />
        </div>
    </div>
</div>


<script>

    fn_GetOrgMember = () => {

    }
    onload = async () => {
        try {
            Big3Common.Util.LoadingOn();
            let Data = await Big3Common.Get("/home/getorgmember");
            if (Data.result === "success") {
                console.log("Data", Data)
                const piechart = Data.piechart;
                const barchart = Data.barchart;
                $("#img_orgmember").attr("src", "data:image/png;base64," + piechart);
                $("#img_buildmember").attr("src", "data:image/png;base64," + barchart);
                $("#img_orgmember,#img_buildmember").show();
            }
            else {
                console.log(Data.error);
            }
        }
        catch (e) {
            console.log(e);
        }
        finally {
           Big3Common.Util.LoadingOff();
        }

    }
</script>

{% endblock %}
