{% extends "layout.html" %}

{% block content %}

<div id="containers" style="display:none">
    <div class="text-center">
        <h1>Dongdaemun Mall Dashboard</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>가입자 분포현황</h3>
                <img id="img_orgmember" style="width: 500px; height: 500px;" class="img-fluid" alt="Organization Members Chart" />
            </div>
            <div class="col-md-6 text-center">
                <h3>상가별분포</h3>
                <img id="img_buildmember" style="width: 100%; height: 500px;" class="img-fluid" alt="Building Members Chart" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>건물별 매출현황</h3>
                <img id="img_buildsales" class="img-fluid" alt="Organization Members Chart" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>건물별 매출추이</h3>
                <img id="img_buildsales_month" class="img-fluid" alt="Organization Members Chart" />
            </div>
            <div class="col-md-12 text-center">
                <div style="height: 400px; overflow-y: auto; border: 1px solid #ddd;">
                    <table id="buildsalesGrid" style="width: 100%; border-collapse: collapse;">
                        <thead style="height:50px; background-color:black;color:white;">
                            <tr>
                                <th>건물명</th>
                                <th>년/월</th>
                                <th>금액</th>
                                <th>건물명</th>
                                <th>년/월</th>
                                <th style="width: 25%;text-align: center">금액</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
 
    onload = async () => {
        try {
            Big3Common.Util.LoadingOn();
            let Data = await Big3Common.Get("/home/getorgmember");
            if (Data.result === "success") {
                console.log("Data", Data)
                const piechart = Data.piechart;
                const barchart = Data.barchart;
                const barchart2 = Data.barchart2;
                const linechart = Data.linechart;
                const sales_month = JSON.parse(Data.build_sales_month);
                $("#img_orgmember").attr("src", "data:image/png;base64," + piechart);
                $("#img_buildmember").attr("src", "data:image/png;base64," + barchart);
                $("#img_buildsales").attr("src", "data:image/png;base64," + barchart2);
                $("#img_buildsales_month").attr("src", "data:image/png;base64," + linechart);

                const DataGrid = Big3Common.Util.DataGridGen(sales_month, "order_month", "bld_name", "buy_amt");
                $("#buildsalesGrid").append(DataGrid);
                $("#containers").show();
            }
            else {
                console.log(Data.error);
            }
        }
        catch (e) {
            console.log(e);
        }
        finally {
           Big3Common.Util.LoadingOff();
        }

    }
</script>

{% endblock %}
