{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
</div>
<div class="row">
    <div class="col-md-4">
         
    </div>
</div>

<script>
    
    fn_GetOrgMember = () => {

    }
    onload = async () => {
        try {
            Big3Common.Util.LoadingOn();
            let Data = await Big3Common.Get("/home/getorgmember");
            if (Data.result === "success") {

            }
            else {
                console.log(Data.error);
            }
        }
        catch (e) {
            console.log(e);
        }
        finally {
            Big3Common.Util.LoadingOff();
        }
        
    }
</script>

{% endblock %}
