body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*로딩페이지*/
.loading_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background-color: rgb(0 0 0 / 0.3);*/
    background-color: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
}

.dot-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --uib-size: 47px;
    --uib-speed: 1s;
    --uib-color: #000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.17);
    padding-top: calc(var(--uib-size) * 0.34);
}

.dot-wave__dot {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.17);
    height: calc(var(--uib-size) * 0.17);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
}

.dot-wave__dot:nth-child(1) {
    animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.dot-wave__dot:nth-child(2) {
    animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.dot-wave__dot:nth-child(3) {
    animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.dot-wave__dot:nth-child(4) {
    animation: jump var(--uib-speed) ease-in-out infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200%);
    }
}

.subtitle {
    margin-left: 4px;
    margin-top: 6px
}

.sarimax_result {
    white-space: pre;
    height: 200px;
    width: 79%;
    overflow-y: auto;
    margin-left: 12%;
    background-color: black;
    color: white
}
